/* Mobile-first */

body {
    background-color: #f4f3ee;
    color:#2b2d42;
    font-family:'PT serif ';
}

.Cartoon-me {
    display: block;
    margin: 0 auto;
    width: 100px;
    border-radius: 10px;
}

section {
    margin: 20px;
    padding: 30px;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #003049;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    color: #013a63;
}

.Experience-list li {
    background-color:#f9eae1;
    color:#014f86;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.Connect-link {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.Connect-link a {
    padding:0;
    border-radius: 30px;
}

.logo-gh {
    width: 30px;
}

.logo-lk {
    width: 30px;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    list-style: none;
    padding: 0 auto;
    margin: 0;
}

@media(min-width: 768px) {
    h2 {
        font-size: 15px;
        color: #014f86;
    }
    
    nav {
        border: 1px solid #b8c8dc;
        border-radius: 12px;
        padding:0 auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

    nav ul{
        gap: 30px;
        justify-content: center;
    }

    .Experience-list {
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    
}

@media(min-width: 1200px) {
    h1 {
        font-size: 30px;
        text-align: center;
        letter-spacing: 1px;
    }

    .Experience-list li {
        padding: 1rem;
        background-color: #e0f0ff;
    }

    nav {
        max-width: 1000px;
        margin: 50px auto;
        border-width: 2px;
        box-sizing: border-box;
    }

    .Experience-list {
        display: grid;
        gap: 35px;
        grid-template-columns: 1fr 1fr;
        font-size: 1.25rem;
    }
}